@using WebGridMvc


@{
    ViewBag.Title = "代碼查詢";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(source: Model, rowsPerPage: 10
        , columnNames: new[] { "CODE_TYPE_Name", "CODE", "CODE_TYPE", "CODE_NAME", "CODE_SEQ" }
        , canSort: false
        , ajaxUpdateContainerId:"grdQry"
        );
}

<p>
    @Html.ActionLink("新增", "AddCode")
</p>
<div id="gridContent">
    @grid.GetHtml(tableStyle: "table table-striped table-hover",
        columns: grid.Columns(
            grid.Column(columnName: "Code_Type_Name", header: "類別")
            , grid.Column(columnName: "Code", header: "代碼")
            , grid.Column(columnName: "Code_Name", header: "名稱")
            , grid.Column(columnName: "Code_Seq", header: "順序")
            , grid.Column(header: "", format: (item) =>
            {
                var link = Html.ActionLink("修改", "Edit", new { id = item.Code, codetype = item.Code_Type });

                return link;
            })
            ))
</div>
