@using WebGridMvc


@{
    ViewBag.Title = "代碼查詢";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(source: Model, rowsPerPage: 10
        , columnNames: new[] { "CODE_TYPE_Name", "CODE", "CODE_TYPE", "CODE_NAME", "CODE_SEQ" }
        , canSort: false
        , ajaxUpdateContainerId: "grdQry"
        );

}

<style type="text/css">
    .column1Width {
        width: 30%;
    }

    .column3Width {
        width: 50%;
    }
</style>

<script>
    $.ajaxSetup({ cache: false });  //要加這段ie的dialog才不會暫存

    $(function () {
        var opt = null;     //視窗參數

        //視窗參數動態
        function getDialogOpt(strTitle, intWidth, intHeight) {
            intWidth = (typeof (intWidth) === 'undefined') ? 800 : intWidth;
            intHeight = (typeof (intHeight) === 'undefined') ? 420 : intHeight;

            opt = {
                autoOpen: false,
                width: intWidth,
                height: intHeight,
                resizable: false,
                modal: true,
                title: strTitle,
                close: function (event, ui) {
                    $('#OpenDilog').empty();        //要加這段ie的dialog才不會暫存
                    $(this).dialog('destroy');          //要加這段ie的dialog才不會暫存
                }
            }
        }

        //修改視窗
        $('.btn.btn-primary').click(function () {
            $('#OpenDilog').load(this.href, function () {
                getDialogOpt("修改");
                $('#OpenDilog').dialog(opt);
                $(this).dialog('open');
            });
            return false;
        });


        //新增視窗
        $('#btnAdd').click(function () {
            $('#OpenDilog').load(this.href, function () {
                getDialogOpt("新增");
                $('#OpenDilog').dialog(opt);
                $(this).dialog('open');
            });
            return false;
        });

        //新增視窗
        $('#btnQry').click(function () {
            $('#OpenDilog').load(this.href, function () {
                getDialogOpt("查詢");
                $('#OpenDilog').dialog(opt);
                $(this).dialog('open');
            });
            return false;
        });
    });

    function SaveSuccess(data) {
        alert(data.MessageAlert);
        if (data.success) {
            location.reload();
        }
    }
</script>

<p>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td style="width: 1%; white-space: nowrap;">@Html.ActionLink("新增頁面", "AddCode", null, new { @class = "btn btn-warning" })</td>
                <td>@Html.ActionLink("新增視窗", "AddCode", null, new { @class = "btn btn-warning", id = "btnAdd" })</td>
                <td style="text-align: right">@Html.ActionLink("查詢", "QueryCondition", null, new { @class = "btn btn-success", id = "btnQry" })</td>
            </tr>
        </thead>
    </table>
</p>


<div id="OpenDilog"></div>

<div id="gridContent">
    @{
        int firstRecord = (grid.PageIndex * grid.RowsPerPage) + 1;
        int lastRecord = (grid.PageIndex * grid.RowsPerPage) + grid.Rows.Count();
    }

    @{
        var html = grid.GetHtml(tableStyle: "table table-striped table-hover",
            columns: grid.Columns(
                grid.Column(header: "", format: (item) =>
                {
                    //var link = Html.ActionLink("修改", "Edit", new { id = item.Code, codetype = item.Code_Type }, new { @class = "btn btn-primary" });
                    var link = Html.ActionLink("修改視窗", "Edit", new { id = item.Code, codetype = item.Code_Type }, new { @class = "btn btn-primary", id = "btnEdit" });

                    return link;
                })
                , grid.Column(header: "", format: (item) =>
                {
                    //var link = Html.ActionLink("修改", "Edit", new { id = item.Code, codetype = item.Code_Type }, new { @class = "btn btn-primary" });
                    var link = Html.ActionLink("修改頁面", "Edit", new { id = item.Code, codetype = item.Code_Type }, new { @class = "btn btn-info" });

                    return link;
                })
                , grid.Column(header: "", format: (item) =>
                {
                    var link = Ajax.ActionLink("刪除", "Delete", "CodeData", new { id = item.Code, codetype = item.Code_Type }, new AjaxOptions() { HttpMethod = "POST", Confirm = "確定要刪除嗎?", OnSuccess = "SaveSuccess(data);" }, new { @class = "btn btn-default", id = "btnDelete" });

                    return link;
                })
                ,grid.Column(columnName: "Code_Type_Name", header: "類別", style: "column1Width")
                , grid.Column(columnName: "Code", header: "代碼")
                , grid.Column(columnName: "Code_Name", header: "名稱", style: "column1Width")
                , grid.Column(columnName: "Code_Seq", header: "順序")

                ), mode: WebGridPagerModes.All,
            numericLinksCount: 20,
            firstText: "首頁",
            previousText: "上頁",
            nextText: "下頁",
            lastText: "頁尾").ToString();

        var temp = "<tfoot><tr><td style='color: black; text-align:center' colspan='4'>第 " + firstRecord + " 筆到第 " + lastRecord + " 筆，共 " + grid.TotalRowCount + "筆 </td></td><td";
        html = System.Text.RegularExpressions.Regex.Replace(html, "<tfoot>\\s*<tr >\\s*<td", temp);
    }

    @MvcHtmlString.Create(html)

</div>
