@using WebGridMvc


@{
    ViewBag.Title = "代碼查詢";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(source: Model, rowsPerPage: 10
        , columnNames: new[] { "CODE_TYPE_Name", "CODE", "CODE_TYPE", "CODE_NAME", "CODE_SEQ" }
        , canSort: false
        , ajaxUpdateContainerId: "grdQry"
        );
}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

<script>
    $(function () {
        $('.btn.btn-primary').click(function () {
            $('#OpenDilog').load(this.href, function () {
                $('#OpenDilog').dialog({
                    autoOpen: false,
                    width: 800,
                    height: 420,
                    resizable: false,
                    modal: true,
                    title: "修改"
                });

                $(this).dialog('open');
            });
            return false;
        });
    });
</script>

<p>
    @Html.ActionLink("新增", "AddCode")
</p>

<div id="OpenDilog"></div>

<div id="gridContent">
    @grid.GetHtml(tableStyle: "table table-striped table-hover",
        columns: grid.Columns(
            grid.Column(columnName: "Code_Type_Name", header: "類別")
            , grid.Column(columnName: "Code", header: "代碼")
            , grid.Column(columnName: "Code_Name", header: "名稱")
            , grid.Column(columnName: "Code_Seq", header: "順序")
            , grid.Column(header: "", format: (item) =>
            {
                //var link = Html.ActionLink("修改", "Edit", new { id = item.Code, codetype = item.Code_Type }, new { @class = "btn btn-primary" });
                var link = Html.ActionLink("修改", "Edit", new { id = item.Code, codetype = item.Code_Type }, new { @class = "btn btn-primary", id = "btnEdit" });

                return link;
            })
            ))
</div>
